.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
}

.button {
    padding: 5px;
    width: 80px;
    font-size: 12px;
}

.passwordCorrect {
    border: 1px solid black;
}

.passwordIncorrect {
    background-color: red;
    border: 1px solid red;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}