.user {
    position: absolute;
    right: 15px;
    top: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.email {
    font-weight: 400;
    font-size: 8px;
}

.logo {
    width: 20px;
    height: 20px;
    position: relative;
}

.iconLog {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.info {
    position: absolute;
    opacity: 0;
    bottom: -12px;
    right: 0;
    font-weight: 400;
    font-size: 10px;
    transition: opacity 100ms ease-in;
}

.iconLog:focus~.info,
.iconLog:hover~.info {
    opacity: 1;
}

.backdrop {
    opacity: 0;
    visibility: hidden;
    padding: 20px;
    background-color: transparent;
    position: absolute;
    right: -20px;
    top: 0;
    transition: opacity 100ms ease-in, visibility 100ms ease-in;
}

.log:focus~.backdrop,
.log:hover~.backdrop {
    opacity: 1;
    visibility: visible;
}

.backdrop:focus,
.backdrop:hover {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

.modal {
    width: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: rgb(237, 235, 235);
    transition: opacity 100ms ease-in, visibility 100ms ease-in;
}

.btn {
    padding: 5px;
    font-weight: 400;
    font-size: 12px;
    border: none;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
}

.btn:focus,
.btn:hover {
    box-shadow: inset 0 0 2px;
}

.btn:active {
    background-color: rgba(255, 255, 255, 0.879);
}

@media screen and (min-width: 768px) {
    .user {
        right: 30px;
    }

    .email {
        font-size: 12px;
    }
}